{{!< default}}
<section class="hero">
    <div class="container">
        <h1 class="title">{{@custom.hero_headline}}</h1>
        <h3 class="lead">{{@custom.hero_sub_headline}}</h3>
        <a class="button button-primary lg" href="/subscribe">{{@custom.cta_text}}</a>
    </div>
</section>

{{#page}}
    {{content}}
{{/page}}