{{!< default}}
<div class="container">
    <section class="hero">
        <h1 class="title">{{@custom.hero_headline}}</h1>
        <h5 class="lighter lead">{{@custom.hero_sub_headline}}</h5>
        <a class="button button-primary" href="projections.html">{{@custom.cta_text}}</a>
    </section>

    {{#page}}
        {{content}}
    {{/page}}
</div>